<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'listing_nav' %>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Photos
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <!-- Photo Upload -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
