<% if @photos.count > 0 %>
  <div class="container">
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="card-header preview">
              <%= image_tag photo.image.url() %>
            </div>
            <div class="card-body">
              <span class="float-right">
                <%= link_to listing_photo_path(photo.listing_id, photo), remote: true, method: :delete, data: { confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </span>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
